<div class="container-fluid">
<h4>Available hotels and villas for your booking</h4>
</div>

<div class="container">
<div class="row">
    <div  *ngFor="let hotel of hotels" class="col-md-4">
      parent:{{parentData}}
      <app-hotel-card 
      [hotel] ="hotel"
      [(childData)]="parentData"
      
         
      >
      </app-hotel-card >


    </div>

    <div>calculator

      <input type="number"  [(ngModel)]="value1">
      
      <input type="number" [(ngModel)]="value2">
      {{value1}} {{value2}}
      {{total}}
      {{ birthday | upper}}



    </div>
  </div>
</div>
   

