<div class="container-fluid">
<h4>Available hotels and villas for your booking</h4>
</div>

<div class="container">
<div class="row">
    <div  *ngFor="let hotel of hotels" class="col-md-4">
      parent:{{parentData}}
      <app-hotel-card 
      [hotel] ="hotel"
      [(childData)]="parentData"
      
         
      >
    </app-hotel-card >


   <!--

    <app-hotel-card 
      [hotel] ="hotel"
      [childData]="parentData"
      (childDataChange)="changeParentData($event)" 
         
      >
    </app-hotel-card >
   --> 
    </div>
</div>
</div>
   

