<div class="wrapper fadeInDown">
    <div id="formContent" style="margin-top: 200px;">
     
    <h3 style="padding:10px">User Login</h3>
      <!-- Login Form -->
      <form style="padding-top:50px" #registerForm="ngForm">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="login" [(ngModel)]="User.username" #username="ngModel" required >
        <div class="alert alert-danger fadeIn second" role="alert" *ngIf="username.errors?.required  && username.pristine === false">user name required</div>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="User.password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="register(registerForm)" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
      {{userDetails}}
    </div>
  </div>
